body {
  width: 8.5in;
  height: 11in;
  margin: 0;
}

.a {
  color: white;
}

.a-project {
  font-weight: normal;
  color: purple;
}

.header {
  height: 8%;
}

.font-normal {
  font-weight: normal;
}

.left-side {
  background-color: #375152;
  height: 100%;
  width: 36%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
}

.list-header {
  font-weight: bold;
  margin: 0.8em 0 0.2em 0;
}

.name {
  margin-bottom: 0;
}

.right-side {
  height: 100%;
  width: 56%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
}

.section {
  padding-bottom: 5%;
}

.section__p {
  margin: 0;
}

.section__p--italic {
  font-style: italic;
}

.section__education--padding {
  padding-top: 3%;
}

.section__education {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.ul {
  list-style: none;
  padding-left: 0;
}

.white {
  color: #dededc;
}

.ol {
  list-style-type: none;
  padding-left: 0;
}

.orange {
  color: #CE5310;
}

.small-font {
  font-size: 15px;
}
