body {
  width: 8.5in;
  height: 11in;
  color: #CE5310;
  margin: 0;
}

.header {
  height: 10%;
}

.info {
  /* background-color: yellow; */
  /* height: 30%; */
}


.left-side {
  background-color: #375152;
  height: 100%;
  width: 36%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
}

.right-side {
  background-color: yellow;
  height: 100%;
  width: 60%;
  float: left;
}

.header-name {
  height:10%;
  /* background-color: black; */
}

section {
  padding-bottom: 5%;
}

.section-p {
  margin: 0;
}

.section-farmingdale {
  padding-top: 3%;
}

.section-education {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.ul {
  list-style: none;
  padding-left: 0;
}
